<div class="card flex">
    <p-card [header]="houseInfo.name">
        <ng-template pTemplate="header">
            <img alt="GOT" src="../../../assets/GOT.jpg" />
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button icon="pi pi-arrow-right" iconPos="right" label="View Details"
                    (onClick)="openDetailsView(houseInfo)" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>